<p-dialog header="Add Date" [(visible)]="showModal" [modal]="true" [style]="{ width: '50vw' }">
  <form (ngSubmit)="submit()" [formGroup]="form">
    <div class="row">
      <div class="form-field" style="flex-grow: 1">
        <label for="title">Title</label>
        <input pInputText id="title" formControlName="title" />
      </div>
      <div class="form-field">
        <label for="date">Date</label>
        <p-calendar appendTo="body" id="date" [showIcon]="true" formControlName="date"></p-calendar>
      </div>
    </div>
    <div class="form-field">
      <label for="description">Description</label>
      <textarea rows="3" pInputTextarea id="description" formControlName="description"></textarea>
    </div>
    <br />
    <app-button [disabled]="form.invalid" (onClick)="submit()" label="Save"></app-button>
  </form>
</p-dialog>

<div class="wrapper">
  <header>
    <h1>Dates</h1>
    <app-button (onClick)="openModal()" label="Add"></app-button>
  </header>

  <br />

  @for (date of dates | async; track date._id) {
  <p-card>
    <div class="card-header">
      <div>
        <h2>{{ date.title }}</h2>
        <span>{{ date.date | date }}</span>
      </div>
      <div class="action-btns">
        <p-button icon="iconoir-edit-pencil" size="small" [outlined]="true" (onClick)="edit(date)"></p-button>
        <p-confirmPopup></p-confirmPopup>
        <p-button icon="iconoir-trash" size="small" [outlined]="true" (onClick)="deleteDate($event, date)"></p-button>
      </div>
    </div>

    <p>
      {{ date.description }}
    </p>
  </p-card>
  <br />
  }
</div>
