.action-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.bottom-sidebar {
  ::ng-deep {
    .p-sidebar-bottom {
      height: 80vh;
    }
  }
}
