<div class="action-row">
  <p-button label="today" (onClick)="today()" size="small"></p-button>
  <span class="p-buttonset">
    <p-button size="small" (onClick)="prev()" icon="pi pi-chevron-left"></p-button>
    <p-button size="small" (onClick)="next()" icon="pi pi-chevron-right"></p-button>
  </span>
</div>

<full-calendar #calendar [options]="calendarOptions" [events]="events | async"></full-calendar>

<p-sidebar [(visible)]="sidebarVisible" position="bottom" class="bottom-sidebar" styleClass="h-30rem">
  @if (selectedDate | async; as date) {

  <h1>{{ date.title }}</h1>
  <h5>{{ date.date | date }}</h5>
  <p>{{ date.description }}</p>
  }
</p-sidebar>
