.action-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.bottom-sidebar {
  ::ng-deep {
    .p-sidebar-bottom {
      height: 90svh;
    }
  }
}

.swiper {
  width: 600px;
  height: 300px;
}

.image {
  margin-left: auto;
  margin-right: auto;
}
